.vscode/**
out/client/test/**
client/test/**
client/src/**
client/server/installServerIntoExtension.cmd
client/server/installServerIntoExtension
client/**/*.map
.gitignore
client/tsconfig.json
server/**
out/**/*.js.map
out/server/test

**/*.ts
**/tsconfig.json
**/tslint.json
**/.gitignore
package-lock.json
**/*.map
